<div class="footer">

	<div class="footer_inner">

{if-A:{maccms:siteaid} = 10 }

    	<div class="mod_footer_partners">

        	<span class="partner_title">合作伙伴</span>

            <div class="partner_links">
<a href="http://baiyug.cn/" target="_blank" title="百域阁-影视传媒" >6频道</a>|
{maccms:link type=font num=20}

    		<a href="[link:link]" target="_blank" title="[link:name]" >[link:name]</a>|

{/maccms:link}

          	</div>

        </div>

{endif-A}

        <div class="mod_footer">

			<div class="footermenu">

<p>
<a href="http://baiyug.cn" rel="nofollow">百域阁-影视传媒 </a><br>
<a href="{maccms:link_gbook}" rel="nofollow">问题反馈 </a>-<a href="{maccms:getlink new.html}" target="_blank" title="最近更新影片">最近更新</a>-<a href="{maccms:getlink top.html}" target="_blank" title="视频排行榜">排行榜</a>-<a href="{maccms:link_map_vod}" target="_blank" title="网站地图">网站地图</a><br>
Copyright <span class="fontArial"> </span> 2016-2116 {maccms:url} Inc. All Rights Reserved. 
<br>网站合作联系QQ：{maccms:qq} 联系邮箱：<a href="mailto:{maccms:email}">{maccms:email}</a>  {maccms:runtime}   {maccms:visits}
</p>
			</div>

    </div>

</div>