<footer class="cydy003-footer" >
  <div class="container">
  <br>
    网站合作联系QQ：{maccms:qq} <br> 联系邮箱：<a href="mailto:{maccms:email}">{maccms:email}</a>  <br>
Copyright <span class="fontArial"> </span> 2016-2116 {maccms:url} Inc. All Rights Reserved.<br>
{maccms:runtime}   {maccms:visits}
  </div>
</footer>
<div id="footer_mobile"> 
网站合作联系QQ：{maccms:qq} <br> 联系邮箱：<a href="mailto:{maccms:email}">{maccms:email}</a>  <br>
Copyright <span class="fontArial"> </span> 2016-2116 {maccms:url} <br>Inc. All Rights Reserved.<br>
{maccms:runtime}   {maccms:visits}
</div>
