<meta name="keywords" content="{maccms:keywords}" />
<meta name="description" content="{maccms:description}" />
<meta http-equiv="content-type" content="text/html;charset=gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{maccms:path_tpl}css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{maccms:path_tpl}css/themet2.css">
<link href="{maccms:path_tpl}css/wap540.css?v=2" rel="stylesheet" />
<script src="{maccms:path}js/jquery.js"></script>
<script src="{maccms:path}js/jq/jquery.lazyload.js"></script>
<script src="{maccms:path_tpl}js/home.js"></script>
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
