<link href="{maccms:path_tpl}css/home.css" rel="stylesheet">
  <script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<link href="{maccms:path_tpl}css/style.css" rel="stylesheet">
<script>var sitePath=''</script>
<script src="{maccms:path_tpl}js/1.7.2.min.js"></script>
<script src="{maccms:path_tpl}js/superslide.2.1.js"></script>
<script src="{maccms:path_tpl}js/jq.js"></script>
<script src="{maccms:path_tpl}js/common.js"></script>
<script src="{maccms:path_tpl}js/function.js"></script>
<script src="{maccms:path_tpl}js/jquery.lazyload.js"></script>
<script src="{maccms:path_tpl}js/home.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>