<div id="footer_e">
  <div id="footer_w">
    <div class="footmenu">
<p>
站长联系QQ：{maccms:qq} <br>
<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=d79a931b07c798ff3f8f6254d4504264db368400f0e663d66a1b259f3065ac7d">点击加入《百域阁》QQ交流群</a>
<br>联系邮箱：<a href="mailto:{maccms:email}">{maccms:email}</a> <br>
Copyright <span class="fontArial"> </span>
2016-2116 {maccms:url} Inc. All Rights Reserved. 
<br> {maccms:runtime}   {maccms:visits}
</p>
	</div>
  </div>
</div>


<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>